<app-navbar></app-navbar>
<div class="container my-5">

    <div class="row">
        <div class="col">
            <h1>People List</h1>
            <button class="btn btn-primary my-3" [routerLink]="['/add-user']">Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="peoplelist.length == 0" class="alert alert-warning">No people found</div>
            <table *ngIf="peoplelist.length > 0" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Phone</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of peoplelist ; let i = index">
                        <app-display-list [i]="i"
                         [firstname]="person.firstname"
                          [lastname]=" person.lastname"
                            [phone]="person.phone"
                            >
                        </app-display-list>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>